{% extends 'ecommerce/base.html' %}

{% load static %}
{% load humanize %}


{% block content %}
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Customer Details</th>
                                <th>Print Invoice</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr id="product{{item.product_id}}">
                                <td class="thumbnail-img">
                                {{order.order_id}}
                                </td>

                                <td>

                                    {{order.date}}

                                </td>
                                <td>

                                    <a><i class="fa fa-eye"></i></a>

                                </td>
                                <td>

                                    <a><i class="fa fa-eye"></i></a>

                                </td>
                                <td>

                                    <a href="{% url 'manager-generate-store-invoices' order.order_id %}" download><i class="fa fa-print"></i></a>

                                </td>
                                <td>

                                    <a><i class="fa fa-times"></i></a>

                                </td>
                               
                            </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

       

        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    </div>
            </div>
            <div class="col-12 d-flex shopping-box"><a href="checkout.html" class="ml-auto btn hvr-hover">Checkout</a> </div>
        </div>

    </div>
</div>

{% endblock %}