{% extends 'ecommerce/base.html' %}

{% load static %}
{% load humanize %}


{% block content %}

<style type="text/css">
    .htmx-indicator{
        opacity:0;
        transition: opacity 500ms ease-in;
    }
    .htmx-request .htmx-indicator{
        opacity:1;
    }
    .htmx-request.htmx-indicator{
        opacity:1;
    }
    </style>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLongTitle">Process Delivery</h4>
              <br>  
               <div class="row" id="deliveryResp">
               </div>
               <br>
               <div class="htmx-indicator" id="deliveryIndicator">
                <i class="fa fa-spinner fa-spin" style="font-size:24px color:blue"></i>
            </div>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="zoom:80px;">
              <form hx-post="{% url 'manager-store-process-delivery' %}" hx-target="#deliveryResp" hx-indicator="#deliveryIndicator">
                 {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="InputName" class="mb-0">order Id/ Invoice Id</label>
                        <input type="text" class="form-control" name="order_id" id="order_id" placeholder="First Name"> </div>
                    <div class="form-group col-md-6">
                        <label for="InputLastname" class="mb-0">Status</label>
                        <select class="form-control" id="status" name="status" onchange="onChangeStatus()" required> 
                            <option >

                               select Status

                            </option>

                            <option value="pnd">

                                paid and delivered

                            </option>
                            <option value="pnotd">

                                paid and not delivered

                            </option>
                            <option value="npd">

                               not paid and delivered

                            </option>
                            <option value="npnd">

                                not paid and not delivered

                            </option>

                        </select>




                        </div>
                  
                   <div class="row" id="beforeDelivery" style="display:none;">
                     <div class="form-group col-md-6">
                        <label for="InputPassword1" class="mb-0">Delivery Person Name</label>
                        <input type="text" class="form-control" name="dpn"  placeholder="Name">
                     </div>
                     <div class="form-group col-md-6">
                        <label for="InputPassword1" class="mb-0">Delivery Phone Number</label>
                        <input type="text" class="form-control" name="dppn"  placeholder="Phone Number">
                     </div>
                     <div class="form-group col-md-6">
                        <label for="InputPassword1" class="mb-0">Delivery Id Image</label>
                        <input type="file" class="form-control" name="dpidf" id="dpidf"  onchange="dpiffOnchange();">
                        <textarea class="form-control" id="personImageString" name="personImageString" style="display:none">
                        </textarea>
                     </div>
                     <div class="form-group col-md-6">
                        <label for="InputPassword1" class="mb-0">Delivery Cost</label>
                        <input type="text" class="form-control" name="dc" id="dc"  placeholder="Delivery Cost">
                     </div>

                     <div class="form-group col-md-12">
                        <label for="InputPassword1" class="mb-0">Delivery Details</label>

                           <textarea class="form-control" name="dd">


                           </textarea>
                     </div>

                    </div>
                    <div class="row" id="afterDelivery" style="display:none;">

                        <div class="form-group col-md-6">
                            <label for="InputPassword1" class="mb-0">Delivery Note Image</label>
                            <input type="file" class="form-control" name="dnidf" id="dnidf"  onchange="dniffOnchange();">
                            <textarea class="form-control" id="noteImageString" name="noteImageString" style="display:none">
                            </textarea>
                         </div>

                         


                    </div>

                     <div class="form-group col-md-12">

                         <button type="submit" class="btn btn-primary">Process</button>
                     </div>

          


                    </div>



              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="orderItemsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="orderItemsModalTitle"></h5>
              <div class="d-flex flex-row" id="actionBtns">
                <div class="p-2">
                    <button class="btn btn-light" onclick="generateInvoice();">
                        <img src="{% static 'images/navigate-icons/invoice.svg' %}" height="20px"><span>Invoice</span>
                    </button>
                </div>
                <div class="p-2">
                    <button class="btn btn-light" onclick="generateReceipt();">
                        <img src="{% static 'images/navigate-icons/receipt.svg' %}" height="20px"><span>Receipt</span>
                    </button>
                </div>
                <div class="p-2">
                    <button class="btn btn-light" onclick="removeItemsFromOrder();">
                        <i class="fa fa-trash-alt"> </i><span>Remove</span>
                    </button>
                </div>
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            <div class="modal-body" id="orderItemsModalBody" style="zoom:75%; margin:20px;">
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="customerDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="customerDetailsModalTitle"></h5>
             
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            <div class="modal-body" id="customerDetailsModalBody" style="zoom:75%; margin:20px;">
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             
            </div>
          </div>
        </div>
      </div>

    
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12 col-sm-12 col-12">
                <form class="form" hx-post="{% url 'manager-filter-orders' %}" hx-target="#orderTab" hx-indicator="#searchOrder">
                    {% csrf_token %}
                <div class="row">
                   
                    <div class="col-lg-3 col-sm-12">
                        <input class="form-control" name="invoice_id" placeholder="Search by invoice Id..." type="text">
                    </div>
                   &nbsp;
                    <div class="col-lg-2">
                        <input class="form-control" name="from_date" placeholder="Start date" type="date">
                    </div>
                    &nbsp;
                    <div class="col-lg-2">
                        <input class="form-control" name="to_date" placeholder="end date" type="date">
                    </div>
                    &nbsp;
                    <div class="col-lg-2">
                        <button type="submit" class="btn btn-light">
                            <i class="fa fa-search"></i>
                            <span class="htmx-indicator" id="searchOrder" >searching..</span>
                        </button>
                    </div>
                    
                
                </div>
            </form>
                <br>
                <div class="table-main table-responsive" style="zoom:80%">
                    <table class="table">
                        <thead  style="background-color:blue">
                            <tr>
                                <th>Order Id</th>
                                <th>Date</th>
                                <th>Items</th>
                                
                                <th>Customer Details</th>
                                <th>Item Status</th>
                                <th>Delivery Status</th>
                                <th>Payment Status</th>
                                <th>Print Invoice</th>
                                <th>Print D-Note</th>
                                <th>Complete </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="orderTab">
                            {% if user.is_authenticated %}
                            {% for order in orders %}
                            <tr id="product{{item.product_id}}">
                                <td class="thumbnail-img">
                                {{order.order_id}}
                                </td>

                                <td>

                                    {{order.date}}

                                </td>
                                <td>
                                    <a style="display:none" hx-get="{% url 'manager-list-invoice-items' order.order_id %}" hx-target="#orderItemsModalBody" id="viewItemsLink"></a>
                                    <a><i class="fa fa-eye" onclick="showOrderItems('{{order.order_id}}');"></i></a>

                                </td>
                                <td>
                                    <a style="display:none" hx-get="{% url 'manager-store-list-customer-details' order.order_id %}" hx-target="#customerDetailsModalBody" id="viewCustomerLink"></a>
                                    <a onclick="showCustomerDetails('{{order.order_id}}')"><i class="fa fa-eye"></i></a>

                                </td>
                                <td>
                                      {{order.sales.status}}
                                </td>
                                <td>
                                    {{order.delivery_details.status}}
                              </td>
                              <td>
                                {{order.delivery_details.paid_status}}
                          </td>
                                <td>

                                    <a href="{% url 'manager-generate-store-invoices' order.order_id %}" download><i class="fa fa-print"></i></a>

                                </td>
                                <td>

                                    <a href="{% url 'manager-store-generate-d-notes' order.order_id %}" download><i class="fa fa-print"></i></a>

                                </td>
                                <td>

                                    <a onclick="completeOrderModal('{{order.order_id}}')"><i class="fa fa-plus"></i></a>

                                </td>
                                <td class="remove-pr">
                                    <a class="btn btn-danger" hx-get="{% url 'manager-remove-order-from-invoice' order.order_id %}" hx-target="#orderTab">
                                <i class="fas fa-trash"></i>
                            </a>
                                </td>
                               
                            </tr>
                           {% endfor %}

                           {% else %}
                                  
                           <h4 style="color:red; text-align:center;">To view Items in this Page Login is required!!! <a style="color:blue" href="/admin">login here</a></h4>


                           {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

       

        

    </div>
</div>

<script>

    function completeOrderModal(orderId) {

        $('#exampleModalCenter').modal('show');

        $("#order_id").val(orderId);
      
    }

    function dpiffOnchange(){

        let base64String = "";

        var dpidf = document.getElementById('dpidf').files[0];
        let reader = new FileReader();
            console.log("next");

            reader.onload = function () {
                base64String = reader.result.replace("data:", "")
                    .replace(/^.+,/, "");

                imageBase64Stringsep = base64String;

                // alert(imageBase64Stringsep);
                document.getElementById("personImageString").value = imageBase64Stringsep
            }
            reader.readAsDataURL(dpidf);
    }

    function dniffOnchange(){

        let base64String = "";

        var dpidf = document.getElementById('dnidf').files[0];
        let reader = new FileReader();
            console.log("next");

            reader.onload = function () {
                base64String = reader.result.replace("data:", "")
                    .replace(/^.+,/, "");

                imageBase64Stringsep = base64String;

                // alert(imageBase64Stringsep);
                document.getElementById("noteImageString").value = imageBase64Stringsep
            }
            reader.readAsDataURL(dpidf);
    }

    function onChangeStatus() {


        let status = document.getElementById('status').value;

        console.log(status);

        if(status=="pnd" || status=="npd"){

            document.getElementById("afterDelivery").style.display = "block";
            document.getElementById("afterDelivery").classList.add("row")

        }else if(status=="pnotd" || status=="npnd") { 
              
            document.getElementById("beforeDelivery").style.display = "block";
            document.getElementById("beforeDelivery").classList.add("row")

        }
    }

    function showOrderItems(orderId){

        $('#orderItemsModal').modal('show');

       

        $('#orderItemsModalTitle').html(orderId)

        document.getElementById('viewItemsLink').click();





    }

    function showCustomerDetails(orderId){

        $('#customerDetailsModal').modal('show');

       

        $('#customerDetailsModalTitle').html(orderId)

        document.getElementById('viewCustomerLink').click();





    }

    function generateInvoice(){
      
        let checked_ = []
        $("input:checkbox[name=salesCheck]:checked").each(function(){
            checked_.push($(this).val());
            });
        let all_checked = checked_.toString()

        $.ajax({

            url:"{% url 'manager-gen-invoice-for-selected-items' %}",
            method:"POST",
            data:{

               'sales_ids':all_checked,
               'order_id':$("#orderItemsModalTitle").html(),
               csrfmiddlewaretoken: '{{ csrf_token }}',

            },
            beforeSend:function(data){

            },

            success:function(data){
                var wnd = window.open("about:Invoice", "", "_blank");
                 wnd.document.write(data);
                
            },

            complete:function(data){

            }
        })



    }

    function generateReceipt(){

        let checked_ = []
        $("input:checkbox[name=salesCheck]:checked").each(function(){
            checked_.push($(this).val());
            });
        let all_checked = checked_.toString()

        $.ajax({

            url:"{% url 'manager-gen-receipt-for-selected-items' %}",
            method:"POST",
            data:{

               'ids':all_checked,
               'order_id':$("#orderItemsModalTitle").html(),
               csrfmiddlewaretoken: '{{ csrf_token }}',

            },
            beforeSend:function(data){

            },

            success:function(data){
                var wnd = window.open("about:Receipt", "", "_blank");
                 wnd.document.write(data);
                
            },

            complete:function(data){

            }
        })

    }

    function removeItemsFromOrder(){


        
        let checked_ = []
        $("input:checkbox[name=salesCheck]:checked").each(function(){
            checked_.push($(this).val());
            });
        let all_checked = checked_.toString()

        $.ajax({

            url:"{% url 'manager-rem-selected-items-from-orders' %}",
            method:"POST",
            data:{

               'sales_ids':all_checked,
               'order_id':$("#orderItemsModalTitle").html(),
               csrfmiddlewaretoken: '{{ csrf_token }}',

            },
            beforeSend:function(data){

            },

            success:function(data){
                
                $("#orderItemsModalBody").html(data);
            },

            complete:function(data){

            }
        })



    }

</script>

{% endblock %}

{% block footer %}

{% endblock footer %}