{% extends 'ecommerce/base.html' %}

{% load static %}
{% load humanize %}


{% block content %}

<style type="text/css">
    .htmx-indicator{
        opacity:0;
        transition: opacity 500ms ease-in;
    }
    .htmx-request .htmx-indicator{
        opacity:1;
    }
    .htmx-request.htmx-indicator{
        opacity:1;
    }
    </style>

<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Complete Invoicing (Customer Details)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="customerDetailsResp"></div>
            <form hx-post="{% url 'manager-customer-invoice-details' %}" hx-target="#counterCart">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="InputName" class="mb-0">First Name</label>
                        <input type="text" class="form-control" name="fname" id="InputName" placeholder="First Name"> </div>
                    <div class="form-group col-md-6">
                        <label for="InputLastname" class="mb-0">Last Name</label>
                        <input type="text" class="form-control" name="lname" id="InputLastname" placeholder="Last Name"> </div>
                    <div class="form-group col-md-6">
                        <label for="InputEmail1" class="mb-0">Email Address</label>
                        <input type="email" class="form-control" name="email" id="InputEmail1" placeholder="Enter Email" required> </div>
                    <div class="form-group col-md-6">
                        <label for="InputPassword1" class="mb-0">Phone number</label>
                        <input type="text" class="form-control" name="phone" id="InputPassword1" placeholder="Phone Number" required>
                     </div>
                     <div class="form-group col-md-6">
                        <label for="InputPassword1" class="mb-0">Company Name</label>
                        <input type="text" class="form-control" name="cname" id="InputPassword1" placeholder="Company Name" required>
                     </div>
                     <div class="form-group col-md-6">
                        <label for="InputPassword1" class="mb-0">Company Address/ Delivery Address</label>
                        <input type="text" class="form-control" name="caddress" id="InputPassword1" placeholder="Address" required>
                     </div>

                     <div class="form-group col-md-12">
                        <label for="InputPassword1" class="mb-0">Terms</label>
                        <textarea class="form-control" required>

                            </textarea>
                     </div>
                     <div class="form-group col-md-6" >
                        <label for="InputPassword1" class="mb-0">order</label>
                        <input type="text" class="form-control" name="orderId" id="ordernum" placeholder="Password">
                     </div>
                </div>

                <button type="submit" class="btn hvr-hover">Register</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>




<div class="cart-box-main" >
    
    <div class="container" id="newPage">
        <!--
        <div class="d-flex flex-row">
           
            <div class="p-2">
                <a class="btn btn-light" hx-get="{% url 'manager-list-invoices' %}" hx-target="#salesPage">
                    <img src="{% static 'images/navigate-icons/invoice.svg' %}" height="20px;">
                    <i style="font-size:10px;">Invoiced</i>
                </a>
            </div>
            <div class="p-2">
                <a class="btn btn-light" hx-get="{% url 'manager-store-generate-reports' %}" hx-target="#salesPage">
                    <img src="{% static 'images/navigate-icons/analysis.svg' %}" height="20px;">
                    <i style="font-size:10px;">Reports</i>
                </a>
            </div>
          </div>
        -->
        <div class="row" style="zoom:80px;"  id="salesPage">
            
            <div class="col-lg-6">
                <div class="row">

                    <div class="col-lg-6">
                        <input hx-get="{% url 'manager-filter-products' %}" hx-trigger="keyup changed delay:1s" hx-target="#itemTab" hx-indicator="#productSearchIndicator"  class="form-control" name="scan" placeholder="Scan here or search by name" type="text">
                    </div>
                    
                     
                </div>

                <br>
                <div class="htmx-indicator" id="productSearchIndicator">
                    <i class="fa fa-spinner fa-spin" style="font-size:24px color:blue"></i>
                </div>
                
                
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Images</th>
                                <th>Serial #</th>
                                <th>Product Name</th>
                                <th>Price</th>
                               
                                <th>Status</th>
                                <th>Sell</th>
                            </tr>
                        </thead>
                        <tbody id="itemTab">
                            {% if user.is_authenticated %}
                            {% for item in items %}
                            <tr id="product{{item.product_id}}">
                                <td class="thumbnail-img">
                                    <a href="#">
                                <img class="img-fluid" src="{{item.images.first.image.url}}" alt="" />
                            </a>
                                </td>
                                <td class="name-pr">
                                    
                                    {{item.serial1}}
                                
                                    </td>
                                <td class="name-pr">
                                    
                                {{item.model.name}}
                            
                                </td>
                                <td class="price-pr">
                                    <p>{{item.price}}</p>
                                </td>

                                
                                <td class="total-pr">
                                    <p>{{item.stage}}</p>
                                </td>
                                <td class="remove-pr">
                                    <a class="btn btn-danger" hx-get="{% url 'manager-add-to-counter' item.pk %}" hx-target="#salesPage">
                                <i class="fas fa-plus"></i>
                            </a>
                                </td>
                            </tr>
                           {% endfor %}
                           {% else %}

                           <h4 style="color:red; text-align:center;">To view Items in this Page Login is required!!!</h4>

                           {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6" style="zoom:80%">

                <div class="row" id="counterCart">
                    
                    <div class="col-lg-8 col-sm-8">
                        <div class="row" style="overflow-y:auto; height:800px;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Serial</th>
                                        <th>Name</th>
                                        <th>Qty</th>
                                        <th>Sub Total</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sale in sales %}
                                    <tr>
                                        <td>
                                            {{sale.product.serial1}}
                                        </td>
                                        <td>
                                            {{sale.product.model.name}}
                                        </td>
                                        <td class="quantity-box">
                                            <div class="input-group">
                                                
                                                <input class="form-control" style="width:30px; font-size:12px;" value="{{sale.quantity}}" type="text" id="item_qty" >
                                               
                                                
                                            </div>
                                        </td>
                                        <td>{{sale.price}}</td>
                                        <td>
                                            <a hx-get="{% url 'manager-remove-from-counter' sale.pk %}" hx-target="#counterCart" class="btn btn-danger" >
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="order-box">
                            <h3>Order summary</h3>
                            <div class="d-flex gr-total">
                                <h5>Sub Total</h5>
                                <div class="ml-auto h5"> {{totals.subtotal}}</div>
                            </div>
                            <hr class="my-1">
                            
                            <div class="d-flex">
                                <h4>Tax</h4>
                                <div class="ml-auto font-weight-bold">{{totals.tax}}</div>
                            </div>
                           
                            <hr>
                            <div class="d-flex gr-total">
                                <h5>Grand Total</h5>
                                <div class="ml-auto h5"> {{totals.total}}</div>
                            </div>
                            <hr> </div>
                    
                        <div class="row">
                            <div class="col-6 d-flex shopping-box">
                                <a onclick="showInvoiceModal();" class="btn btn-outline">Invoice</a> 
                            </div>
                            <div class="col-6 d-flex shopping-box">
                                <a onclick="genReceipt()" class="ml-auto btn hvr-hover">D-Note</a> 
                            </div>
                    
                        </div>
                        <br>
                        <h4>Instant Sales </h4>
                        <br>
                        <div class="row">
                           
                              
                                <div class="col-5 d-flex shopping-box">
                                    <a onclick="genReceipt()" class="btn btn-primary" style="color:white;">Receipt</a> 
                                </div>
                                <div class="col-2 d-flex shopping-box">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </div>
                                <div class="col-5 d-flex shopping-box">
                                    <a hx-get="{% url 'manager-complete-instant-sales' %}" hx-target="#salesPage" hx-indicator="#completeInstantSales"  class="btn btn-success" style="color:white;">
                                        
                                        Complete
                                    
                                    </a>
                                    <div class="htmx-indicator" id="completeInstantSales">
                                        <i class="fa fa-spinner fa-spin" style="font-size:24px color:blue"></i>
                                    </div> 
                                </div>
                            
                        </div>      
                    </div>
                </div>
                
            </div>
        </div>

        

        

    </div>
</div>

<script>
 

    document.getElementById("backImage").style.display="none"

    function showInvoiceModal(){

        $("#invoiceModal").modal()
    }

    function genReceipt(){

        
            
        let url = "{% url 'manager-gen-instant-receipt' %}";
        myWin = window.open(url,"Receipt Page", 'height=600,width=400,toolbar=yes,resizable=yes,scrollbars=yes,top=100,left=1000');

    }
   
    let obj = new Date(); 
    let day = obj.getDate(); 
    let month = obj.getMonth() + 1;  
    let year = obj.getFullYear(); 

    document.getElementById("ordernum").value ="INV" + year.toString() +month.toString()+day.toString() + (Math.random().toString(36).substring(2,7)).toUpperCase();



</script>
{% endblock %}