{% load math_filters %}
{% load humanize %}
<div class="row" style="zoom:80px;"  id="salesPage">

        <div class="row">

            <div class="col-lg-6">
                <input hx-get="{% url 'manager-filter-products' %}" hx-trigger="keyup changed delay:1s" hx-target="#itemTab" hx-indicator="#productSearchIndicator"  class="form-control" name="scan" placeholder="Scan here or search by name" type="text">
            </div>
            
             
        </div>

        <br>
        <div class="htmx-indicator" id="productSearchIndicator">
            <i class="fa fa-spinner fa-spin" style="font-size:24px color:blue"></i>
        </div>
        
        
        <div class="table-main table-responsive">
            <table class="table">
                <thead>
                    <tr>
                       <th>Select</th>
                        <th>Serial #</th>
                        <th>Product Name</th>
                        <th>Price</th>
                       
                        <th>Tax</th>
                        <th>Total</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="itemTab">
                   
                    {% for order in orders %}
                    <tr>

                        <td>
                            <input type="checkbox" name="salesCheck" value="{{order.sales.pk}}">
                        </td>
                        <td>
                        {{order.sales.product.serial1}}
                      
                        </td>
                        <td class="name-pr">
                            
                            {{order.sales.product.model.name}}
                        
                            </td>
                        <td class="name-pr">
                            

                            {{order.sales.price}}
                    
                        </td>
                        <td class="price-pr">
                            {{order.sales.price|multiply:order.sales.tax|multiply:0.01}} 
                        </td>

                        
                        <td class="total-pr">
                            {{order.sales.price|multiply:order.sales.tax|multiply:0.01 |add:order.sales.price|multiply:order.sales.quantity}}
                        </td>
                        <td class="remove-pr">
                            
                        {{order.sales.status}}
                    </a>
                        </td>
                    </tr>
                   {% endfor %}
                  
                </tbody>
            </table>
        </div>
  
    
</div>