{% extends 'ecommerce/base.html' %}

{% load static %}


{% block content %}
<div class="cart-box-main">
    <div class="container">
       
        <div class="row" style="zoom:80%">
            
            <div class="col-lg-6">
                <div class="row">

                    <div class="col-lg-4">
                        <input class="form-control" placeholder="Scan here..." type="text">
                    </div>
                    &nbsp;  &nbsp;  
                    <div class="col-lg-6">
                        <input class="form-control" placeholder="Search by name..." type="text">
                    </div>
                     
                </div>

                <br>
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Images</th>
                                <th>Serial #</th>
                                <th>Product Name</th>
                                <th>Price</th>
                               
                                <th>Status</th>
                                <th>Sell</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr id="product{{item.product_id}}">
                                <td class="thumbnail-img">
                                    <a href="#">
                                <img class="img-fluid" src="{{item.images.first.image.url}}" alt="" />
                            </a>
                                </td>
                                <td class="name-pr">
                                    
                                    {{item.serial1}}
                                
                                    </td>
                                <td class="name-pr">
                                    
                                {{item.model.name}}
                            
                                </td>
                                <td class="price-pr">
                                    <p>{{item.price}}</p>
                                </td>

                                
                                <td class="total-pr">
                                    <p>status</p>
                                </td>
                                <td class="remove-pr">
                                    <a class="btn btn-danger" hx-get="{% url 'manager-add-to-counter' item.pk %}" hx-target="#counterCart">
                                <i class="fas fa-plus"></i>
                            </a>
                                </td>
                            </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6" style="zoom:80%">

                <div class="row" id="counterCart">
                    
                    <div class="col-lg-8 col-sm-8">
                        <div class="row" style="overflow-y:auto; height:800px;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Serial</th>
                                        <th>Name</th>
                                        <th>Qty</th>
                                        <th>Sub Total</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sale in sales %}
                                    <tr>
                                        <td>
                                            {{sale.product.serial1}}
                                        </td>
                                        <td>
                                            {{sale.product.model.name}}
                                        </td>
                                        <td class="quantity-box">
                                            <div class="input-group">
                                                
                                                <input class="form-control" style="width:30px; font-size:12px;" value="{{sale.quantity}}" type="text" id="item_qty" >
                                               
                                                
                                            </div>
                                        </td>
                                        <td>{{sale.price}}</td>
                                        <td>
                                            <a hx-get="{% url 'manager-remove-from-counter' sale.pk %}" hx-target="#counterCart" class="btn btn-danger" >
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="order-box">
                            <h3>Order summary</h3>
                            <div class="d-flex gr-total">
                                <h5>Sub Total</h5>
                                <div class="ml-auto h5"> {{totals.subtotal}}</div>
                            </div>
                            <hr class="my-1">
                            
                            <div class="d-flex">
                                <h4>Tax</h4>
                                <div class="ml-auto font-weight-bold">{{totals.tax}}</div>
                            </div>
                           
                            <hr>
                            <div class="d-flex gr-total">
                                <h5>Grand Total</h5>
                                <div class="ml-auto h5"> {{totals.total}}</div>
                            </div>
                            <hr> </div>
                    
                        <div class="row">
                            <div class="col-6 d-flex shopping-box">
                                <a href="{% url 'manager-generate-store-invoices' %}" class="btn btn-primary">Invoice</a> 
                            </div>
                            <div class="col-6 d-flex shopping-box">
                                <a href="checkout.html" class="ml-auto btn hvr-hover">Checkout</a> 
                            </div>
                    
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        

        

    </div>
</div>

<script>


    document.getElementById("backImage").style.display="none"


</script>
{% endblock %}