{% extends 'ecommerce/base.html' %}


{% load static %}
{% load humanize %}
{% block banner %}

{% endblock banner %}


{% block content %}

<style>
   
    
    .columns {
        float: left;
        width: 50%;
        padding: 10px;
        height: 300px;
        overflow-y:hidden;
        scrollbar-width: none;
       /* Should be removed. Only for demonstration */
      }
      
      /* Clear floats after the columns */
      .rows:after {
        content: "";
        display: table;
        clear: both;
      }

</style>






<div class="cart-box-main">
    <div class="container">

        {% if user.is_authenticated %}
        <div class="rows">
        <div class="columns" id="stocksPlot">
            

        </div>
        <div class="columns" id="salesPlot">
            

        </div>
    </div>
    <div class="rows" id="salesTrend">



    </div>

       
        <div class="row" style="zoom:80%">
            
            <div class="col-4">

                <h4>Stocks Summary</h4>
                <table  class="table" id="stocksSummary">

                    <thead>

                        <th>Item</th>
                        <th>Count</th>

                    </thead>

                    <tbody>
                      {% for model in by_model_name%}
                        <tr>

                            <td>{{model.model__name}}</td>
                            <td>{{ model.model__name__count }}</td>

                        <tr>
                    {% endfor %}

                    </tbody>



                </table>

            </div>
            <div class="col-4">

                <h4>Sales Summary</h4>
                <table  class="table" id="salesSummary">

                    <thead>

                        <th>Item</th>
                        <th>Count</th>

                    </thead>

                    <tbody>
                      {% for model in sales_by_model_name%}
                        <tr>

                            <td>{{model.product__model__name}}</td>
                            <td>{{ model.product__model__name__count }}</td>

                        <tr>
                    {% endfor %}

                    </tbody>



                </table>

            </div>
            <div class="col-4">

                <h4 style="font-weight:bold">Finance Summary</h4>
                <table  class="table">

                    <thead>

                        <th>Specific</th>
                        <th>Amount</th>

                    </thead>

                    <tbody>

                        <tr>
                            <td>Total Sales</td>
                            <td>{{ finance_contxt.revenue|intcomma }}</td>
                        <tr>
                            <tr>
                                <td>Total Cost</td>
                                <td>{{ finance_contxt.cost|intcomma }}</td>
                            <tr>
                                <tr>
                                    <td>Total Expenses</td>
                                    <td>{{ finance_contxt.expenses|intcomma }}</td>
                                <tr>
                                    <tr>
                                        
                                        <td style="font-weight:bold">Total Profit</td>
                                        <td style="font-weight:bold">{{ finance_contxt.profit|intcomma }}</td>

                                        
                                    <tr>
                                        
                    </tbody>


                </table>
                <div class="line">
                </div>


            </div>
            
           
        </div>
            <br>
        <div class="row">

            <table  class="table" id="salesTab">

                <thead>

                    <th>#Serial</th>
                    <th>Model Name </th>
                    <th>Brand Name </th>
                    <th>Category</th>
                    <th>Origin</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Tax</th>
                    <th>Status</th>
                    <th>Sold by</th>
                    <th>Date</th>

                </thead>

                <tbody>
                      {% for sale in sales %}
                    <tr>

                        <td>{{sale.product.serial1}}</td>
                        <td>{{sale.product.model.name}}</td>
                        <td>{{sale.product.brand.name}}</td>
                        <td>{{sale.product.category.name}}</td>
                        <td>{{sale.product.origin.name}}</td>
                        <td>{{sale.price}}</td>
                        <td>{{sale.quantity}}</td>
                        <td>{{sale.tax}}</td>
                        <td>{{sale.status}}</td>
                        <td>{{sale.created_by.username}}</td>
                        <td>{{sale.date}}</td>

                    </tr>
                    {% endfor %}

                </tbody>



            </table>



        </div>

        

        {% else %}

        <h4 style="color:red; text-align:center;">To view Items in this Page Login is required!!! <a style="color:blue" href="/admin">login here</a></h4>


        {% endif %}


    </div>
</div>
<script>

   // create bar chart to visualise stocks level
    var data = [
        {
          x:{{stocks_model_names | safe}},
          y: {{stocks_qty | safe}},
          type: 'bar',
          marker:{

            color: 'rgba(255, 153, 0, 0.5)',
            
          }
          
        }
        
      ];

    var layout =  {

        title: {
            text: 'Stocks level'
          },
    }
      
      Plotly.newPlot('stocksPlot', data,layout);


      // create charts to visualise sales by produvt name

      var data = [
        {
          x:{{sales_name | safe}},
          y: {{sales_qty | safe}},
          type: 'bar'
        }
      ];

    var layout =  {

        title: {
            text: 'Monthly Sales level'
          },
    }
      
      Plotly.newPlot('salesPlot', data,layout);

    // visulaisation of sales trend

      var sales_by_month = {
        x: {{sales_date | safe }},
        y: {{sales_by_date_qty | safe }},
        type: 'scatter',
        title: {
            text: 'Sales QTY Trend'
          },
      };

      var layout = {
          
        title: {
            text: 'Sales QTY Trend'
          },
      }

      var sales_by_date_data = [sales_by_month];

       Plotly.newPlot('salesTrend', sales_by_date_data,layout);

</script>

{% endblock %}