
<p id="item_no" style="display:none">{{item_no}}</p>
<p id="pk" style="display:none">{{pk}}</p>

<a href="#" class="close-side"><i class="fa fa-times"></i></a>
<li class="cart-box">
    <ul class="cart-list">
        {% for item in items %}
        <li>
            <a href="{% url 'eco-shop-details' item.product_id %}" class="photo"><img src="{{item.image}}" class="cart-thumb" alt="" /></a>
            <h6><a href="{% url 'eco-shop-details' item.product_id %}">{{item.product_name}} </a></h6>
            <p><strong>{{item.quantity}}</strong>x - 
                 <span class="price">{{item.total_price}}</span></p>
        </li>
        {% endfor %}
        <li class="total">
            <a href="{% url 'eco-shop-cart' %}" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
            <span class="float-right"><strong>Total</strong>: {{total}}</span>
        </li>
       
    </ul>
  
</li>

<script>
    document.getElementById('cartCount').innerHTML
    document.getElementById('cartCount').innerHTML = document.getElementById("item_no").innerHTML
    if(document.getElementById('item_qty')){
    document.getElementById('item_qty').value = document.getElementById("item_no").innerHTML
    }else{
        console.log("This is not the cart page")
    }

    
    
    if (document.getElementById("product"+document.getElementById('pk').innerHTML)){
        document.getElementById("product"+document.getElementById('pk').innerHTML).remove()
    }else
    {
        console.log("This is not the cart page")
    }
 
</script>