{% extends 'ecommerce/base.html' %}
{% load static %}
{% load humanize %}

{% block cartButton %}
<div class="attr-nav">
    <ul>
        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
        <li class="side-menu"><a href="#">
        <i class="fa fa-shopping-bag"></i>
            <span class="badge" id="cartCount">{{item_no}}</span>
            <p>My Cart</p>
    </a></li>
    </ul>
</div>
{% endblock cartButton %}

{% block sideCart %}
<div class="side" id="sideCart">
    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
    <li class="cart-box">
        <ul class="cart-list">
            {% for item in items %}
        <li>
            <a href="{% url 'eco-shop-details' item.product_id %}" class="photo"><img src="{{item.image}}" class="cart-thumb" alt="" /></a>
            <h6><a href="{% url 'eco-shop-details' item.product_id %}">{{item.product_name}} </a></h6>
            <p>{{item.quantity}}x - 
                 <span class="price">{{item.total_price}}</span></p>
        </li>
        {% endfor %}

        <li class="total">
            <a href="{% url 'eco-shop-cart' %}" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
            <span class="float-right"><strong>Total</strong>: {{total}}</span>
        </li>
        </ul>
    </li>
</div>
{% endblock %}


{% block content %}

  <!-- Start Shop Page  -->
  <div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-6 col-sm-12 col-xs-12 col-12">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-9 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Sort by </span>
                                <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                                <option data-display="Select">Nothing</option>
                                <option value="1">Popularity</option>
                                <option value="2">High Price → High Price</option>
                                <option value="3">Low Price → High Price</option>
                                <option value="4">Best Selling</option>
                            </select>
                            </div>
                            
                        </div>
                        &nbsp;
                        <div class="col-9 col-sm-4 text-center text-sm-right" style="margin-top:20px;">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    {% for product in page_obj.object_list %}
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 col-6">
                                        <div class="products-single fix border shadow" style="border-radius:30px;">
                                            <div class="box-img-hover" style="margin:10px;">
                                                <div class="type-lb">
                                                    <p class="sale">Sale</p>
                                                </div>
                                           

                                                <img src="{{product.images.first.image.url}}" class="img-fluid h-50" alt="Image">
                                                <div class="mask-icon">
                                                    <ul>
                                                        <li><a href="{% url 'eco-shop-details' product.pk %}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                    </ul>
                                                    <a class="cart" hx-get="{% url 'eco-shop-add-to-cart' product.pk %}" hx-target="#sideCart">Add to Cart</a>
                                                </div>
                                            </div>
                                            <div style="margin:30px;">
                                                <h4 style="font-weight:bold; color:blue">{{product.brand.name}} - {{product.model}}</h4>
                                                <h5> <del>Ksh {{product.was}}</del></h5>
                                                <h6 style="font-weight:bold;"> Ksh {{product.price}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                       
                            <div role="tabpanel" class="tab-pane fade" id="list-view">
                                <div class="list-view-box">
                                    {% for product in page_obj.object_list %}
                                    <div class="row">
                                        
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix" >
                                                <div class="box-img-hover" >
                                                    <div class="type-lb">
                                                        <p class="new">New</p>
                                                    </div>
                                                    <img src="{{product.images.first.image.url}}" class="img-fluid h-50" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="{% url 'eco-shop-details' product.pk %}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                            <div class="why-text full-width">
                                                <h4>{{product.brand}} - {{product.model}}</h4>
                                                <h5> <del>Ksh {{product.was}}</del>{{product.price}}</h5>
                                                <p>{{product.overview | truncatechars:300}}</p>
                                                <a class="btn hvr-hover" href="#">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                               
                               
                            </div>
                           
                        </div>
                        
                    </div>
                    <nav aria-label="...">
                        <ul class="pagination">
                          {% if page_obj.has_previous %}
                              <li class="page-item">
                                <a  href="?page={{ page_obj.previous_page_number}}" hx-boost="true" hx-swap="#respBody,"><span class="page-link">Previous</span></a>
                                
                              </li>
                          {% else %}
                              <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                                
                              </li>
                            
                          {% endif %}
                
                          {% for page in page_obj.paginator.page_range %}
                
                                  {% if page_obj.number == page %}
                                  
                                      <li class="page-item active">
                                        
                                        <span class="page-link">
                                          
                                          {{page}}
                                        </span>
                                        
                                      </li>
                                  {% else %}
                
                                      <li class="page-item">
                                        <a  href="?page={{page}}" hx-boost="true" hx-target="#respBody">
                                        <span class="page-link">
                                          
                                          {{page}}
                                        </span>
                                        </a>
                                      </li>
                
                                  {% endif %}
                
                          {% endfor %}
                
                          {% if page_obj.has_next %}
                              <li class="page-item">
                                <a  href="?page={{ page_obj.next_page_number}}" hx-boost="true" hx-target="#respBody">
                                  <span class="page-link">
                                          
                                    Next
                                  </span>
                
                                </a>
                              </li>
                          {% else %}
                
                          <li class="page-item disabled">
                          
                              <span class="page-link">
                                      
                                Next
                              </span>
                
                    
                          </li>
                
                          {% endif %}
                        </ul>
                      </nav>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 col-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product" >
                        <form action="#">
                            <input class="form-control" placeholder="Search here..." type="text">
                            <button type="submit"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>Categories</h3>
                        </div>
                        <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                            <div class="list-group-collapse sub-men">
                                <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1"> &  <small class="text-muted">(100)</small>
                            </a>
                                <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action active"> 1 <small class="text-muted">(50)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action"> 2 <small class="text-muted">(10)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action"> 3 <small class="text-muted">(10)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action"> 4 <small class="text-muted">(10)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action"> 5 <small class="text-muted">(20)</small></a>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-collapse sub-men">
                                <a class="list-group-item list-group-item-action" href="#sub-men2" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men2"> 
                            <small class="text-muted">(50)</small>
                            </a>
                                <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action"> 1 <small class="text-muted">(10)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action"> 2 <small class="text-muted">(20)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action"> 3 <small class="text-muted">(20)</small></a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="list-group-item list-group-item-action">   <small class="text-muted">(150) </small></a>
                            <a href="#" class="list-group-item list-group-item-action">  <small class="text-muted">(11)</small></a>
                            <a href="#" class="list-group-item list-group-item-action">  <small class="text-muted">(22)</small></a>
                        </div>
                    </div>
                    <div class="filter-price-left">
                        <div class="title-left">
                            <h3>Price</h3>
                        </div>
                        <div class="price-box-slider">
                            <div id="slider-range"></div>
                            <p>
                                <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                <button class="btn hvr-hover" type="submit">Filter</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->

<!-- Start Instagram Feed  -->
<div class="instagram-box">
    <div class="main-instagram owl-carousel owl-theme">
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-01.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-02.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-03.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-04.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-05.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-06.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-07.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-08.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-09.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-05.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}