{% extends 'ecommerce/base.html' %}

{% load static %}
{% load humanize %}

{% block cartButton %}
<div class="attr-nav">
    <ul>
        
        <li>
        <i class="fa fa-shopping-bag"></i>
            <span class="badge" id="cartCount">{{item_no}}</span>
            <p>My Cart</p>
    </a></li>
    </ul>
</div>
{% endblock cartButton %}



{% block content %}
<div class="cart-box-main">
    <div class="container" id="cartResp">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Images</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>sub Total</th>
                                <th>Tax</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr id="product{{item.product_id}}">
                                <td class="thumbnail-img">
                                    <a href="#">
                                <img class="img-fluid" src="{{item.image}}" alt="" />
                            </a>
                                </td>
                                <td class="name-pr">
                                    <a href="#">
                                {{item.product_name}}
                            </a>
                                </td>
                                <td class="price-pr">
                                    <p>{{item.price}}</p>
                                </td>
                                <td class="quantity-box">
                                    <div class="input-group">
                                        <a class="btn btn-danger" hx-get="{% url 'eco-shop-minus-to-cart' item.product_id %}" hx-target="#cartResp">-</a>
                                        &nbsp &nbsp &nbsp
                                        <input class="form-control" style="width:30px; font-size:12px; border-width:1px;" value="{{item_no}}" type="text" id="item_qty" >
                                        &nbsp &nbsp &nbsp
                                        <a class="btn btn-success" hx-get="{% url 'eco-shop-plus-to-cart' item.product_id %}" hx-target="#cartResp">+</a>
                                    </div>
                                    </td>
                                <td class="total-pr">
                                    <p>{{item.total_price}}</p>
                                </td>
                                <td class="total-pr">
                                    <p>{{item.total_tax}}</p>
                                </td>
                                <td class="total-pr">
                                    <p>{{item.total_amount}}</p>
                                </td>
                                <td class="remove-pr">
                                    <a class="btn btn-danger" hx-get="{% url 'eco-shop-remove-cart' item.product_id %}" hx-target="#cartResp">
                                <i class="fas fa-times"></i>
                            </a>
                                </td>
                            </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-6 col-sm-6">
                <div class="coupon-box">
                    <div class="input-group input-group-sm">
                        <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-theme" type="button">Apply Coupon</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="update-box">
                    <input value="Update Cart" type="submit">
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Order summary</h3>
                    <div class="d-flex">
                        <h4>Sub Total</h4>
                        <div class="ml-auto font-weight-bold">{{sub_total}}</div>
                    </div>
                    <div class="d-flex">
                        <h4>Discount</h4>
                        <div class="ml-auto font-weight-bold"></div>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex">
                        <h4>Coupon Discount</h4>
                        <div class="ml-auto font-weight-bold">  </div>
                    </div>
                    <div class="d-flex">
                        <h4>Tax</h4>
                        <div class="ml-auto font-weight-bold">{{tax}} </div>
                    </div>
                    <div class="d-flex">
                        <h4>Shipping Cost</h4>
                        <div class="ml-auto font-weight-bold">  </div>
                    </div>
                    <hr>
                    <div class="d-flex gr-total">
                        <h5>Grand Total</h5>
                        <div class="ml-auto h5"> {{total}}</div>
                    </div>
                    <hr> </div>
            </div>
            <div class="col-12 d-flex shopping-box"><a href="{% url 'eco-shop-checkout-details' %}" class="ml-auto btn hvr-hover">Checkout</a> </div>
        </div>

    </div>
</div>

{% endblock %}